[Unit]
Description=C-Lightning daemon
Requires=bitcoind.service
After=bitcoind.service tord.service

[Service]
ExecStart=/usr/local/bin/lightningd --daemon --network bitcoin --log-level debug --bitcoin-cli /opt/bcli-esplora.sh --bitcoin-datadir /media/sdcard/bitcoin_data --lightning-dir /media/sdcard/lightning_data
ExecReload=/usr/local/bin/lightning-cli --lightning-dir /media/sdcard/lightning_data stop
PIDFile=/home/satoshi/.lightning/lightningd.pid
Type=simple
KillMode=process
TimeoutSec=180
Restart=always
RestartSec=60

User=satoshi
Group=satoshi

[Install]
WantedBy=multi-user.target